# .gitconfig
# who > mauro.baraldi@gmail.com
# when > 22/06/2012

[color]
    branch = auto
    diff = auto
    interactive = auto
    log = auto
    status = auto
    ui = auto

[core]
    editor = vi

[user]
   email = mauro.baraldi@gmail.com
   name = Mauro Baraldi

