# .gitconfig
# who > mauro.baraldi@gmail.com
# when > 22/06/2012

[color]
    branch = always
    diff = always
    grep = always
    interactive = always
    log = always
    status = always
    ui = always

[core]
    editor = vi

[user]
   email = mauro.baraldi@gmail.com
   name = Mauro Baraldi

